/* =====================
   RESET
===================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", Arial, sans-serif;
  color: #000;
  background: #fff;
}

/* =====================
   NAVBAR
===================== */
.navbar {
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
}

.navbar .logo img {
  height: 70px;  /* ukuran logo pas */
  width: auto;
  display: block;
}

.nav-menu a {
  margin-left: 32px;
  text-decoration: none;
  color: #000;
  font-size: 14px;
}

/* =====================
   HEADER PROJECT
===================== */
.project-header {
  text-align: center;
  padding: 80px 20px 40px;
  justify-content: none;
  list-style: none;
}

.project-header h1 {
  font-size: 48px;
  margin-bottom: 16px;
}

.project-header p {
  font-size: 18px;
  color: #555;
}

/* =====================
   GALLERY PROJECT
===================== */
.project-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 24px;
  padding: 0 60px 80px;
}

.project-gallery img {
  width: 100%;
  border-radius: 16px;
  transition: transform 0.3s ease;
}

.project-gallery img:hover {
  transform: scale(1.05);
  cursor: pointer;
}

/* =====================
   PROJECT CARD (HOVER) untuk preview slide 3
===================== */
.project-card {
  position: relative;
  min-width: 320px;
  height: 220px;
  border-radius: 16px;
  overflow: hidden;
  flex-shrink: 0;
  text-decoration: none;
  color: #fff;
}

.project-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.project-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6); /* hitam semi-transparan */
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.4s ease;
}

.project-overlay h3 {
  font-size: 28px;
  letter-spacing: 2px;
}

.project-card:hover img {
  transform: scale(1.05);
}

.project-card:hover .project-overlay {
  opacity: 1;
}

/* =====================
   FOOTER
===================== */
.footer {
  padding: 60px;
  background: #000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer p {
  margin-bottom: 10px;
  font-size: 25px;
}

/* =====================
   RESPONSIVE
===================== */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    gap: 16px;
  }

  .navbar .logo img {
    height: 50px;
  }

  .project-gallery {
    padding: 0 20px 40px;
    grid-template-columns: 1fr;
  }
}
